@import url("../CSS/modern-normalize.css");

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff004f;
  --color-headings: #94a3b8;
  --color-body: #1e293b;
  --color-body-darker: #475569;
  --color-border: #475569;
  --color-dark: #070a13;
  --color-light: #f1f5f9;
  /* --border-radius: 30px; */
  --clr-indigo: #4f46e5;

  /* accent rgb(255, 0, 79) */
  /* indigo rgb(79, 70, 229) */

  /* sizes */
  --size-xxs: 0.8rem;
  --size-xs: 1.2rem;
  --size-sm: 1.4rem;
  --size-base: 1.6rem;
  --size-lg: 1.8rem;
  --size-xl: 2rem;
  --size-2xl: 2.4rem;
  --size-3xl: 3rem;
  --size-4xl: 3.6rem;
  --size-5xl: 4.8rem;
  --size-6xl: 6rem;
  --size-7xl: 7.2rem;
  --size-8xl: 9.6rem;
  --size-9xl: 12.8rem;
  --size-10xl: 16rem;
}


* {
  margin: 0;
  line-height: calc(1em + 0.8rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.light-mode {
  --color-light: #070a13;
  --color-dark: #f1f5f9;
  --color-body: #94a3b8;
  --color-body-darker: #1e293b;
  --color-headings: #1e293b;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

/* a {
  color: var(--clr-rose);
} */

strong {
  color: var(--clr-indigo);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  outline: 1px solid var(--color-accent);
}
