<section class="hero container">
    <img class="hero__img" src="./Images/profile_pic.jpeg" alt="Profile picture" />
    <p class="hero__subtitle">Hi, I'm Soumya 👋</p>
    <h1 class="hero__title">
      FRONT-END <br/>
      WEB DEVELOPER.
    </h1>
    <p class="hero__description">
      A passionate <strong>Frontend </strong> web
      developer and <strong>UI/UX</strong>
      enthusiast specialized in building stunning pixel-perfect interactive
      websites/applications.
    </p>
    <a class="hero__btn btn btn__accent" href="#">Reach out</a>
</section>