<nav id="header" class="nav">
    <a href="#"><img src="images/soumya-high-resolution-logo-color-on-transparent-background.png" class="logo"></a>
    <ul id="sidemenu" class=" list nav__list">
        <li class="nav__item"><a href="#header">Home</a></li>
        <li class="nav__item"><a href="#about">About</a></li>
        <li class="nav__item"><a href="#services">Services</a></li>
        <li class="nav__item"><a href="#portfolio">Portfolio</a></li>
        <li class="nav__item"><a href="#contact">Contact</a></li>
        <li class="header__line"></li>
        <li><a class="nav__item btn btn__accent" href="#">Resume</a></li>
        <i class="fas fa-times header__cross" onclick="closemenu()"></i>
    </ul>
    <span id="menubar" class="fas fa-bars header__menu-button" onclick="openmenu()"></span>
</nav>