.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5%;
    flex-wrap: wrap;
    font-size: var(--size-lg);
}

.logo{
    width: 10rem;
}

.nav__item{
    display: block;
    list-style: none;
    margin: 2.5rem 2rem;
    border-bottom: 1px solid var(--color-border);
}

.nav__item > a {
    color: var(--color-light);
    position: relative;
    transition: color 0.5s;
}

.nav__item > a:hover{
    color: var(--color-accent);
}

.nav__item > a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-accent);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav__item > a:hover::after{
    width: 100%;
}

.nav__list{
    background: var(--color-body);
    position: fixed;
    top: 0;
    right: -20rem;
    width: 20rem;
    max-height: 100vh;
    padding-top: 5rem;
    z-index: 2;
    transition: right 0.5s;
}

.header__cross{
    position: absolute;
    top: 2.5rem;
    left: 2rem;
}

.nav .fas {
    cursor: pointer;
    transition: all 0.5s;
}

.nav .fas:hover{
    color: var(--color-accent);
    transform: scale(1.3);
}

.header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
    display: block;
    color: var(--color-light);
    border: 0;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .nav__list{
        display: flex;
        position: static;
        width: auto;
        padding-top: 0;
        background: inherit;
    }
    
    .nav__item{
        border: 0;
        font-size: var(--size-sm);
        margin: 2rem 1.5rem;
        font-weight: 600;
    }

    .nav .fas{
        display: none;
    }
    
    .header__line{
        border: 1px solid var(--color-light);
        height: 4rem;
        margin: auto 0;
    }

    .header__sun {
        width: var(--size-base);
        height: var(--size-base);
      }
    
}

@media (min-width: 1024px) {
    .nav__item {
      font-size: var(--size-base);
      margin: 2.5rem 2rem;
    }

    .header__sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }
}